{%  extends 'core/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock style %}

{% block msg %} {% endblock msg %}
{% block content %}
 <h1 style="">home</h1>
 <p style="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tempora dolores etnecessitatibus consectetur ab!</p>
<a href="{% url 'resetpass' %}">Reset without old Password</a>
<a href="{% url 'resetemail' %}">Resetemail </a>

{% endblock content %}
